@mixin fontstyle($fsize,$color,$align)
{
    font-size: $fsize;
    color: $color;
    text-align: $align;
}
@mixin paddingStyle($t,$r,$b,$l)
{
    padding-top: $t;
    padding-right: $r;
    padding-bottom: $b;
    padding-left: $l;
}
@mixin size($h,$w)
{
    height: $h;
    width: $w;   
}

header
{
    background-color: rgb(22,27,34);
    @include fontstyle(13pt,rgba(247, 241, 241, 0.205),left);
    @include size(48px,100%);
    position: fixed;
    z-index: 3;
}
body{
    background-color: rgba(155, 155, 155, 0.521);
}
p
{
    @include paddingStyle(50px,150px,50px,150px);
}
h1{
    @include paddingStyle(30px,0,10px,0);
    text-align: center;
}
h2{
    @include paddingStyle(20px,0,10px,0);
    text-align: center;
}
.search
{
    @include paddingStyle(100px,360px,0,360px);
    @include fontstyle(14pt,black,left);
}
img
{
    @include size(480px,1280px);
}
nav{
    ul{
        list-style:none;
    }
    li{
        display:inline-block;
    }
    a{
        display:block;
        padding: 6px 12px;
        text-decoration:none;
        color: aliceblue;
    }
}
.img1
{
    background-image: url("a.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    @include size(400px,1260px)
}
.btn-xl
{
    font-size: 20px;
    border-radius: 10px;
    width: 540px;
}
.btn-center
{
    font-size: 24px;
    border-radius: 10px;
}
.signin
{
    @include paddingStyle(140px,0,100px,360px);
    @include fontstyle(14pt,black,left);
}
.signsub
{
    @include fontstyle(14pt,white,center);
    text-justify: auto;
    border-radius: 20px;
    background-color: rgb(54, 54, 54);
    @include size(340px,300px);
}
.sign
{
    @include paddingStyle(50px,120px,100px,270px);
}